

/* @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap'); */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Shadows+Into+Light&display=swap');

body {
  margin: 0;
  /* font-family: 'Shadows Into Light', cursive; */
  font-family: 'Satisfy', cursive;
  color:white
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
